.button {
    background-color: rgb(113, 243, 113);
    padding: 25px;
    border: 3px outset;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button--remove {
    background-color: rgb(245, 89, 89);
}

.button:hover {
    background-color: rgb(86, 105, 117);
}