.button {
    background-color: rgb(5, 112, 5);
    height: 33px;
    color: white;
    margin: 10px 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button--done {
    grid-column: 1;
}

.button--remove {
    background-color: rgb(209, 39, 39);
    grid-column: 3;
}