.form__header {
    background-color: #fff;
    padding: 20px 10px;
    margin-bottom: 3px;
}

.form__container {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.form__input {
    border: 1px solid #0000002d;
    padding: 10px;
    flex-grow: 20;
    margin-right: 5px;
}

.form__button {
    background-color: teal;
    color: cornsilk;
    flex-grow: 1;
    padding: 10px;
    border: none;
}

.form__button:hover {
    background-color: rgb(47, 168, 156);
}