.form__header {
    background-color: #fff;
    padding: 20px 10px;
    margin-bottom: 3px;
}

.form__container {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form__input {
    border: 1px solid #0000002d;
    padding: 5px;
    flex-basis: 70%;
    width: 100%;
}

@media (max-width: 768px) {
    .form__input {
        flex-basis: 40px;
        width: 100%;
        margin-bottom: 15px;
    }
}

.form__button {
    background-color: rgb(76, 128, 129);
    color: cornsilk;
    box-shadow: 5px 5px 17px -10px #000000;
    flex-basis: 20%;
    padding: 15px;
    border: 3px outset;
}

@media (max-width: 768px) {
    .form__button {
        flex-basis: 40px;
        width: 100%;
    }
}

.form__button:hover {
    background-color: rgb(47, 168, 156);
}