.list {
    list-style: none;
    padding: 0;
}

.list__item {
    padding: 10px;
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 30px 70% 30px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.list__item--done {
    text-decoration: line-through;
    font-style: oblique;
}

.list__span {
    background-color: white;
    padding: 25px;
    font-size: 22px;
}
