.list__header {
    background-color: #fff;
    padding: 15px 10px;
    margin-bottom: 2px;
}

.list {
    list-style: none;
    background-color: #fff;
    padding: 30px 20px 10px 10px;
    margin: 0;
}

.list__item {
    display: grid;
    grid-template-columns: 33px 1fr 33px;
    align-items: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.list__span {
    font-size: 12px;
    overflow-wrap: break-word;
    padding: 10px;
}

.list__span--done {
    text-decoration: line-through;
}