.section {
    padding: 10px 0;
}

.section__header {
    padding: 0 20px;
    margin-top: 5px;
    background-color: lightgrey;
    padding: 5px;
}

@media (max-width: 768px) {
    .section__header {
        text-align: center;
    }
}