.section {
    padding: 10px 0;
}

.section__header {
    padding: 20px 10px;
    margin-bottom: 2px;
    background-color: #fff;
}

@media (max-width: 768px) {
    .section__header {
        text-align: center;
    }
}